-- MySQL dump 10.13  Distrib 9.5.0, for Win64 (x86_64)
--
-- Host: 192.168.43.76    Database: hospital_global_sls
-- ------------------------------------------------------
-- Server version	9.5.0

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;
SET @MYSQLDUMP_TEMP_LOG_BIN = @@SESSION.SQL_LOG_BIN;
SET @@SESSION.SQL_LOG_BIN= 0;

--
-- GTID state at the beginning of the backup 
--

SET @@GLOBAL.GTID_PURGED=/*!80000 '+'*/ '7986c26e-c3c4-11f0-997a-00ff61e75505:1-810';

--
-- Table structure for table `patient`
--

DROP TABLE IF EXISTS `patient`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `patient` (
  `patient_id` varchar(32) NOT NULL COMMENT '鐥呮偅ID',
  `patient_idcard` varchar(18) NOT NULL COMMENT '韬唤璇佸彿',
  `patient_name` varchar(50) NOT NULL COMMENT '濮撳悕',
  `patient_gender` varchar(1) NOT NULL COMMENT '鎬у埆锛?'鐢?'/''濂?'',
  `patient_birthday` date DEFAULT NULL COMMENT '鍑虹敓鏃ユ湡',
  `patient_phone` varchar(20) DEFAULT NULL COMMENT '鑱旂郴鐢佃瘽',
  PRIMARY KEY (`patient_id`),
  UNIQUE KEY `uk_patient_idcard` (`patient_idcard`),
  CONSTRAINT `ck_patient_gender` CHECK ((`patient_gender` in (_utf8mb4'鐢?,_utf8mb4'濂?)))
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='鐥呮偅妗ｆ琛?;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `patient`
--

LOCK TABLES `patient` WRITE;
/*!40000 ALTER TABLE `patient` DISABLE KEYS */;
INSERT INTO `patient` VALUES ('P001','33010119900101001X','寮犱竴涓€','鐢?,'1990-01-01','15000000001'),('P002','33010119850215002Y','鏉庝簩浜?,'濂?,'1985-02-15','15000000002'),('P003','33010120151225003Z','寮犲皬涓?,'鐢?,'2015-12-25','15000000003'),('P004','33010119600308004A','鐜嬪洓鍥?,'鐢?,'1960-03-08','15000000004'),('P005','33010120180820005B','鏉庡皬灏?,'濂?,'2018-08-20','15000000005'),('P006','33010119880912006C','璧靛叚鍏?,'鐢?,'1988-09-12','15000000006'),('P007','33010119750723007D','閽变竷涓?,'濂?,'1975-07-23','15000000007'),('P008','33010120131105008E','瀛欏叓鍏?,'濂?,'2013-11-05','15000000008');
/*!40000 ALTER TABLE `patient` ENABLE KEYS */;
UNLOCK TABLES;
SET @@SESSION.SQL_LOG_BIN = @MYSQLDUMP_TEMP_LOG_BIN;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-12-25 22:26:31
